@using ProniaBackEnd.ViewModels.admin;
@model ProductAddViewModel
@{
    ViewData["Title"] = "Create";
}

<form method="post" >
    <div class="container-fluid pt-4 px-4">
        <div class="row g-4">
            <div class="col-sm-12 @*col-xl-6*@">
                <div class="bg-secondary rounded h-100 p-4">
                    <h6 class="mb-4">Product</h6>
                    <div class="form-floating mb-3">
                        <input  class="form-control" id="floatingInput" placeholder="Product Name" name="productName" asp-for="@Model.Product.ProductName">
                        <label for="floatingInput">Product Name</label>
                        <span class="text-danger" ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput" asp-for="@Model.Product.Image"
                               placeholder="Image" name="image">
                        <label for="floatingInput">Image</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Description" name="description" asp-for="@Model.Product.Description">
                        <label for="floatingInput">Description</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Color" name="color" asp-for="@Model.Product.Color">
                        <label for="floatingInput">Color</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="Category" name="size" asp-for="@Model.Product.Size ">
                        <label for="floatingInput">Size</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="price" name="price" asp-for="@Model.Product.Price">
                        <label for="floatingInput">Price</label>
                        <span class="text-danger" ></span>
                    </div>
                    <div class="form-floating mb-3">
                        <input class="form-control" id="floatingInput"
                               placeholder="price" name="order" asp-for="@Model.Product.Order">
                        <label for="floatingInput">Order</label>
                        <span class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3">
                        <div class="form-floating mb-3">
                            <select class="form-select" id="floatingSelect"
                                    aria-label="Floating label select example" asp-for="Product.CategoryId">
                                <option selected>Open this select menu</option>
                                @foreach (var item in Model.Categories)
                                {
                                    <option value="@item.Id">@item.Name</option>
                                }
                            </select>
                            <label for="floatingSelect">Category</label>
                        </div>
                        <span class="text-danger"></span>
                    </div>

                  
                    <div class="text-center">

                    <button type="submit" class="btn btn-primary p-2">Create</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>