@model List<UserNotification>
<div class="container user-notification-wrapper">
    @foreach (var item in Model)
    {
        <div class="card mt-5">
            <div class="card-header">
                (@item.CreatedOn) @item.SendingUser.Name  ==> @item.RecievingUser.Name
            </div>
            <div class="card-body">
                <h5 class="card-title">@item.Notification.Title</h5>
                <p class="card-text">@item.Notification.Description</p>
            </div>
        </div>
    }
</div>
