﻿ <!-- Begin Main Content Area -->
@model List<AccountOrderViewModel>
<main class="main-content">
    @Html.Partial(
    "Partials/_BreadcrumbPartial",
    new BreadcrumbViewModel("orders page", "orders"));

    <div class="account-page-area section-space-y-axis-100">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <partial name="Partials/_SidebarMenuPartial" />
                </div>

                <div class="col-lg-9">
                    <div class="myaccount-orders">
                        <h4 class="small-title">MY ORDERS</h4>
                        <div class="table-responsive">
                            <table class="table table-bordered table-hover">
                                <tbody>
                                    <tr>
                                        <th>ORDER</th>
                                        <th>DATE</th>
                                        <th>STATUS</th>
                                        <th>TOTAL</th>
                                        <th></th>
                                    </tr>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>
                                                <a class="account-order-id" href="#">@item.TracingCode</a>
                                            </td>
                                            <td>@item.CreatedOn.ToString("d")</td>
                                            <td>@item.OrderStatus</td>
                                            <td>$@item.Total for @item.Count items</td>
                                            <td>
                                             
                                                <!-- Button trigger modal -->

                                                <button type="button" class="btn btn-dark view-details-btn"
                                                    data-bs-toggle="modal" data-bs-target="#DetailProductModal"
                                                    data-order-id="@item.OrderId">
                                                    View Details
                                                </button>

                                                
                                            </td>
                                        </tr>
                                    }


                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>




<div class="modal fade" id="DetailProductModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body" id="orderDetailsContainer">
               
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>