@model Order

<div>
    
    <p>Order ID: @Model.Id</p>
    <p>Order Date: @Model.CreatedOn.ToString("d")</p>
    <p>Order Status: @Model.OrderItemStatusValue.ToString()</p>

    <table class="table">
        <thead>
            <tr>
                <th>Code</th>
                <th>Customer</th>
                <th>Update date</th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>@Model.TracingCode</td>
                <td>@Model.User.Name</td>
                <td>@Model.UpdatedOn</td>
            </tr>

        </tbody>
    </table>

    <h5>Basket Items</h5>
    <table class="table">
        <thead>
            <tr>
                <th>Product Name</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var basketItem in Model.OrderItems)
            {
                <tr>
                    <td>@basketItem.ProductOrderName</td>
                    <td>@basketItem.ProductOrderQuantity</td>
                    <td>$@basketItem.ProductOrderPrice</td>
                </tr>
            }
        </tbody>
    </table>
</div>