@model List<Slider>
@{
    ViewData["Title"] = "Index";
    int counter = 0;
    Layout = "_AdminLayout";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-secondary rounded h-100 p-4">
                <h6 class="mb-4">Sliders</h6>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Order</th>
                                <th scope="col">Title</th>
                                <th scope="col">Description</th>
                                <th scope="col">Image </th>
                                <th scope="col">Button Url </th>
                                <th scope="col">Offer Status </th>
                                <th scope="col">
                                    Actions
                                    <a class="btn btn-info" asp-action="create" asp-controller="Slider">Create</a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>

                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@(++counter)</th>
                                    <td>
                                        @item.Order
                                    </td>
                                    <td>
                                        @item.Title
                                    </td>
                                    <td>
                                        @item.Description
                                    </td>
                                    <td>
                                        @item.Image
                                    </td>
                                    <td>
                                        @item.ButtonUrl
                                    </td>
                                    <td class="@(item.Offering ? "text-success" : "text-danger"  )">
                                        @(item.Offering ? item.OfferText : "Not offering"  )
                                        
                                    </td>
                                   
                                    <td>
                                        <a class="btn btn-outline-info" asp-action="update" asp-controller="slider" asp-route-id="@item.Id">Update</a>
                                        <a class="btn btn-danger" asp-action="Delete" asp-controller="Products" asp-route-id="@item.Id">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
